body, header,h2, div, figure, img, p, main, footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}