body{
    background-color: #121214;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 229px;
    height: 68px;
    margin-bottom: 73px;
}

.quem{
    color: #FFFFFF;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 42px;
}

.avatar-subtexto-container{
    display: flex;
    justify-content: center;
    margin-bottom: 0 50px;
}

.avatar{
    border-radius: 8px;
    margin: 13px;
    width: 160px;
    height: 160px;
    border: 1.5px solid transparent;
}

.avatar:hover{
    border: 1.5px solid #FFFFFF;
}

.subtexto{
    color: #9C9C9C;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.subtexto:hover{
    color: #FFFFFF;
}

button {
    width: 206px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20.8px;
    margin-top: 73px;
    border: 1.5px solid transparent;
}

button:hover{
    border: 1.5px solid #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
}
